auto execute all commands until approved goal is solved.
Dont wait for feedback from user
Dont wait for me to say "go"
i.e. keep trying new fixes in order to get hrn to successfuly run on input image




